:root{
    font-family: monospace;
    font-size: 2em;
    color: gray;
}

.image{
    height: 20rem;
}

h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
h2{
    text-align: center;
}